<!doctype html>
<html lang=zxx>
<!-- Mirrored from templates.envytheme.com/luvion/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 Jan 2020 18:43:45 GMT -->

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel=stylesheet href="assetsInicio/css/bootstrap.min.css">
  <link rel=stylesheet href="assetsInicio/css/animate.min.css">
  <link rel=stylesheet href="assetsInicio/css/fontawesome.min.css">
  <link rel=stylesheet href="assetsInicio/css/flaticon.css">
  <link rel=stylesheet href="assetsInicio/css/magnific-popup.min.css">
  <link rel=stylesheet href="assetsInicio/css/nice-select.css">
  <link rel=stylesheet href="assetsInicio/css/slick.min.css">
  <link rel=stylesheet href="assetsInicio/css/meanmenu.css">
  <link rel=stylesheet href="assetsInicio/css/odometer.min.css">
  <link rel=stylesheet href="assetsInicio/css/style.css">
  <link rel=stylesheet href="assetsInicio/css/responsive.css">
  <link rel=stylesheet href="assetsInicio/css/owl.carousel.css">
  <link rel=stylesheet href="assetsInicio/css/owl.carousel.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assetsInicio/css/aplicacion.css">



  <style>
    .link-personalizado {
      color: #0e314c !important;
      display: block !important;
    }

    .link-personalizado:hover {
      color: #40e299 !important;
    }

    .text-wha {
      display: none;
    }

    @media (max-width: 991px) {
      .text-wha {
        display: block;
      }
    }
  </style>
  <title><%- UrlDomain === 'mipantalla.com' ? 'Mi Pantalla' : 'Full entretenimiento' %> <%- nombrePagina  %></title>
  <link rel=icon type="image/png" href="<%- UrlDomain === 'mipantalla.com' ? 'https://storagepublicfull.sfo3.digitaloceanspaces.com/marcas/icono_c.png' : '/assetsInicio/img/favicon.png' %>">
</head>
<div class=preloader>
  <div class=loader>
    <div class=shadow></div>
    <div class=box></div>
  </div>
</div>

<body>
  <header>
    <a href="/dashboard/inicio">
      <figure>
        <img src="assetsInicio/img/logo-light.svg" alt="">
      </figure>
    </a>
  </header>
  <main>
    <h2>
      Descarga de aplicaciones
    </h2>
    <div class='triangulo'>
      <figure>
        <img src="assetsInicio/img/Poligono.svg" alt="as">
      </figure>
    </div>
  </main>

  <div class='bw'>
    <section class='caracteristicas'>
      <article class='caracteristicas_text'>
        <p>
          Descarga las aplicaciones que necesites directamente desde nuestra plataforma, rápido y sin complicaciones, ¿Qué esperas?
        </p>
      </article>
      <article class='caracteristicas_img'>
        <figure>
          <img src="assetsInicio/img/iconP.svg" alt="">
        </figure>
      </article>
    </section>
  </div>
  <div class="b_apps">
    <section class='apps'>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/mosher.png" alt="">
        </figure>
        <p class='apps_p'>Mosher Colombia</p>
        <a href="https://drive.google.com/file/d/1WrUxYXq0DoUmWTBjQfzGy7MpYQJoe4Gs/view" class='a_btn'>
          <button class='btn-primary_apps'>
            Descargar
            <figure class='figure_img-descarga'>
              <img src="assetsInicio/img/cloud.svg" alt="" srcset="" class='img_descarga'>
            </figure>
          </button>
        </a>

      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/magistv.png" alt="">
        </figure>
        <p class='apps_p'>Magis Tv</p>
        <a href="https://www.mediafire.com/file/ccrlecei17pgh38/Fullmagis.apk/file
                " class='a_btn'>
          <button class='btn-primary_apps'>
            Descargar
            <figure class='figure_img-descarga'>
              <img src="assetsInicio/img/cloud.svg" alt="" srcset="" class='img_descarga'>
            </figure>
          </button>
        </a>

      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/magistv.png" alt="">
        </figure>
        <p class='apps_p'>Fire stick</p>
        <a href="https://www.mediafire.com/file/6vofv4knkq2m41y/magis_v3.9.1_tv_Fire_TV.apk/file
                " class='a_btn'>
          <button class='btn-primary_apps'>
            Descargar
            <figure class='figure_img-descarga'>
              <img src="assetsInicio/img/cloud.svg" alt="" srcset="" class='img_descarga'>
            </figure>
          </button>
        </a>

      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/magistv.png" alt="">
        </figure>
        <p class='apps_p'>Android tv
        </p>
        <a href="https://www.mediafire.com/file/2nlfprfnovxhof8/magis_v3.9.1_tv.apk/file
                " class='a_btn'>
          <button class='btn-primary_apps'>
            Descargar
            <figure class='figure_img-descarga'>
              <img src="assetsInicio/img/cloud.svg" alt="" srcset="" class='img_descarga'>
            </figure>
          </button>
        </a>

      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/mosherTV.png" alt="">
        </figure>
        <p class='apps_p'>Mosher TV</p>
        <a href="https://drive.google.com/file/d/1ZVCquv-wnBSvy8VQF15i0To_HlnxRIzC/view" class='a_btn'>
          <button class='btn-primary_apps'>
            Descargar
            <figure class='figure_img-descarga'>
              <img src="assetsInicio/img/cloud.svg" alt="" srcset="" class='img_descarga'>
            </figure>
          </button>
        </a>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/aplicaciones/netflix.svg" alt="">
        </figure>
        <p class='apps_p'>Netflix</p>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=com.netflix.mediaclient&hl=es_CO&gl=US" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/co/app/netflix/id363590051" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/aplicaciones/ESPN+.svg" alt="">
        </figure>
        <p class='apps_p'>ESPN+</p>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=com.espn.score_center&hl=es_CO&gl=US" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/us/story/id1358863462" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/aplicaciones/ClaroVideo.svg" alt="">
        </figure>
        <p class='apps_p'>Claro Video</p>
        <a href="" class='a_btn'>
        </a>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=com.dla.android&hl=es_CO&gl=US" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/co/app/claro-video/id568894377" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/aplicaciones/plex.svg" alt="">
        </figure>
        <p class='apps_p'>Plex</p>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=com.plexapp.android&hl=es_CO&gl=US" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/co/app/plex-streaming-de-tv-y-pelis/id383457673" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/aplicaciones/youtubeP.svg" alt="">
        </figure>
        <p class='apps_p'>Youtube Premium</p>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=com.google.android.youtube&hl=es_CO&gl=US" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/co/app/youtube/id544007664" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/aplicaciones/star+.svg" alt="">
        </figure>
        <p class='apps_p'>Star+</p>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=com.disney.starplus&hl=es_CO&gl=US" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/co/app/star/id1549262958" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/aplicaciones/directv.svg" alt="">
        </figure>
        <p class='apps_p'>DirecTV</p>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=com.directv.dtvlatam" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/co/app/directv-go/id1349939060" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/aplicaciones/primeVideo.svg" alt="">
        </figure>
        <p class='apps_p'>Prime Video</p>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=com.amazon.avod.thirdpartyclient&hl=es_CO&gl=US" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/co/app/amazon-prime-video/id545519333" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/aplicaciones/spotify.svg" alt="">
        </figure>
        <p class='apps_p'>Spotify</p>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=com.spotify.music&hl=es_CO&gl=US" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/co/app/spotify-m%C3%BAsica-y-podcasts/id324684580" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/aplicaciones/hbomax.svg" alt="">
        </figure>
        <p class='apps_p'>HBO Max</p>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=com.hbo.hbonow&hl=es_CO&gl=US" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/co/app/hbo-max-ve-pel%C3%ADculas-y-series/id971265422" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/aplicaciones/crunchyroll.svg" alt="">
        </figure>
        <p class='apps_p'>Crunchyroll</p>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=com.crunchyroll.crunchyroid&hl=es_CO&gl=US" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/co/app/crunchyroll/id329913454" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
      <article>
        <figure class='apps_article-plataforma'>
          <img src="assetsInicio/img/WinSportsPlusPremium.png" alt="">
        </figure>
        <p class='apps_p'>Win Sport +</p>
        <div class='botones_extra'>
          <a href="https://play.google.com/store/apps/details?id=co.winsportsonline.wso&hl=es_CO&gl=US" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/googlePayLogo.svg" alt="a">
              </figure>
            </button>
          </a>
          <a href="https://apps.apple.com/us/app/win-sports-online/id888427969" class='botones_extra-btn_a'>
            <button class='botones_extra-btn'>
              <figure>
                <img src="assetsInicio/img/apple.svg" alt="a">
              </figure>
            </button>
          </a>
        </div>
      </article>
    </section>
  </div>
  <footer></footer>
  <script src="assetsInicio/js/jquery.min.js"></script>
  <script src="assetsInicio/js/popper.min.js"></script>
  <script src="assetsInicio/js/bootstrap.min.js"></script>
  <script src="assetsInicio/js/jquery.meanmenu.js"></script>
  <script src="assetsInicio/js/jquery.nice-select.min.js"></script>
  <script src="assetsInicio/js/slick.min.js"></script>
  <script src="assetsInicio/js/jquery.magnific-popup.min.js"></script>
  <script src="assetsInicio/js/jquery.appear.min.js"></script>
  <script src="assetsInicio/js/odometer.min.js"></script>
  <script src="assetsInicio/js/parallax.min.js"></script>
  <script src="assetsInicio/js/wow.min.js"></script>
  <script src="assetsInicio/js/smooth-scroll.min.js"></script>
  <script src="assetsInicio/js/form-validator.min.js"></script>
  <script src="assetsInicio/js/contact-form-script.js"></script>
  <script src="assetsInicio/js/main.js"></script>
  <script src="assetsInicio/js/owl.carousel.js"></script>
  <script>
    smoothScroll.init({
      selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
      selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
      speed: 2000, // Integer. How fast to complete the scroll in milliseconds
      easing: 'easeInOutCubic', // Easing pattern to use
      offset: 100, // Integer. How far to offset the scrolling anchor location in pixels
      callback: function(anchor, toggle) {} // Function to run after scrolling
    });

    var owl = $('.carousel');
    owl.owlCarousel({
      items: 1,
      loop: true,
      margin: 10,
      nav: true,
      dots: true,
      rewind: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true
    });
  </script>

</body>
<!-- Mirrored from templates.envytheme.com/luvion/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 Jan 2020 18:44:12 GMT -->

</html>