<%- include('layauts/header') %>

<body class="main-body leftmenu">

    <%- include('layauts/loader') %> 

    <!-- Page -->
    <div class="page main-signin-wrapper border border-none" style="background-color: #1d003e !important;">

        <div class="container ">
            <div class="text-center details text-white">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <img src="./assetsDashboard/img/anuncio.png" style="width: 310px;" alt="sesion-cerrada">
                    </div>
                    <div class="col-lg-12 ">
                        <h2 class="mb-5 mt-2">Oops... Su sesión a expirado, por favor inicie sesión nuevamente</h2>
                        <a class="btn btn-secondary ripple text-center font-weight-normal pt-2 font-18" href="/">Iniciar sesión nuevamente!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Page -->

<%- include('layauts/footer') %> 

	