<%- include('layauts/header') %>

<body class="main-body leftmenu">

    <%- include('layauts/loader') %> 

    <!-- Page -->
    <div class="bg-primary page main-signin-wrapper bg-primary border border-none">

        <div class="container ">
            <div class="text-center details text-white">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <h1 class="tx-140 mb-5">:'(</h1>
                    </div>
                    <div class="col-lg-12 ">
                        <h1 class="mb-5">Oops... Su sesión a expirado, por favor inicie sesión nuevamente</h1>
                        <a class="btn btn-secondary ripple text-center" href="/">Ingresar de nuevo</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Page -->

<%- include('layauts/footer') %> 

	